<div class="col-auto" >
    <div class="card-body">
      <div class="card" style="width: 250px;">
        <%= image_tag picture_book.picture_url %>
        <h5 class="card-title"><%=picture_book.breed %></h5>
      </div>
    </div>
</div>