<div class="col-auto" >
    <div class="card-body">
      <div class="card">
        <%= link_to (image_tag picture_book.picture_url , size: "200x200"), picture_book_path(picture_book.id), class: "picture-image"%>
        <h5 class="card-title"><%=link_to picture_book.breed , picture_book_path(picture_book.id)%></h5>
      </div>
    </div>
</div>