<div class="row ">
  <h1>私の多肉図鑑</h1>
  <%=button_to '追加する', new_picture_book_path, {method: :get, class: "btn btn-outline-success picture_add_btn"}%>
</div>
<div class="container picture-container">
  <div class="row">
    <div class="col-lg">
      <div class="row">
        <% if @picture_books.present? %>
          <%= render @picture_books %>
        <% else %>
          <h1>また図鑑への登録がありません。右上から登録してみましょう!</h1>
        <% end %>
        </div>
    </div>
  </div>
</div>