  <div class="logo-area">
    <%= image_tag('logo.png')%>
  </div>
  <div class="top-content">
    <p>多肉がきれいな時も、元気がない時も、買ったばかりの時も</p>
    <p>記録していく</p>
    <p>多肉記録サービスです</p>
    <%= link_to'新規登録して使ってみる', new_user_path, class: 'btn btn-success'%>
  </div>