<nav class = "navbar navbar-expand-lg navbar-light" style="background-color: #8CC152; height:b 50px;">
  <div class = "container-fluid">
    <a class = "navbar-brand">私の多肉こよみ</a>
    <ul class="navbar-nav mb-2 mb-lg-0">
      <li class = "nav-item">
        <%= link_to 'ログイン', login_path , class: "nav-link"%>
      </li>
      <li class = "nav-item">  
        <%= link_to '新規登録', new_user_path, class: "btn btn-success btn-block" %>
      </li>
    </div>
  </div>
</nav>