<header>
  <nav class = "navbar navbar-expand navbar-light fixed-top" style="background-color: #88ab36; height: 50px;">
    <div class = "container-fluid">
      <%= link_to '私の多肉こよみ', root_path,  class: "navbar-brand" %>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class = "nav-item">
          <%= link_to 'ログイン', login_path , class: "nav-link"%>
        </li>
        <li class = "nav-item">  
          <%= link_to '新規登録', new_user_path, class: "btn btn-success btn-block" %>
        </li>
      </div>
    </div>
  </nav>
</header>