<header class="menu">
  <nav class="navbar navbar-expand" style="background-color: #ffb62f; height: 50px;">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu-nav">
        <li><%= link_to 'マイページ', calendars_path ,class:"nav-item menu-bar me-5"%></li>
        <li><%= link_to '私の多肉図鑑', '#' ,class:"nav-item menu-bar"%></li>
      </ul>
    </div>
  </nav>
</header>