<div class="container  mx-5">  
  <%= render 'button'%>
  <% if @posts.present? %>
      <%=render @posts%>
  <% else%>
    <div class="index-post">
      <h1>まだ投稿がありません</h1>
    </div>
  <% end%>
</div>