@import "bootstrap";
@import "simple_calendar";
@import url(//fonts.googleapis.com/earlyaccess/hannari.css);

body {
  color:#444444;
  background: #f4f0ca;
  font-family: 'Hannari', serif;
  margin-top: 50px;
}

footer {
  background: #cfe0a3;
}

.logo-area {
  padding: 0.75px;
  text-align: center;
}
.top-content {
  margin-top: 40px;
  text-align: center;
}

.menu-bar {
  font-size: 24px;
  color: #444444;
  text-decoration: none;
}

.input-record {
  padding-top: 50px;
  float: right;
  width: 30%;
  font-size: 24px;

  h1 {
    font-size: 28px;
  }

  .form-group {
    margin: 30px 0px;
  }
}

.simple-calendar {
  width: 65%;
  margin-left: 20px;
  .calendar-heading{
    display:flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

  }

  .calendar-title  {
    font-size: 30px;
  }

  table {
    background-color: #ffffff;
  }
  button {
    margin-top: 10px;
  }
  span {
    margin-left: auto;
    margin-right: auto;
  }

  .wday-0 {
    background-color: #FFA594;
  }

.wday-6 {
  background-color:  #AABBEE;
}

.today {
  background-color: #FFCC77;
}

.prev-month {
  background-color: #808080;
  color: white;
}

.next-month {
  display: none;
}}


.icon {
  display: flex;
  float: left;
  margin: 0px 40px;
}
