@import "bootstrap";
@import "simple_calendar";
@import url(//fonts.googleapis.com/earlyaccess/hannari.css);

body {
  color:#373a3c;
  background: #f4f0ca;
  font-family: 'Hannari', serif;
  margin-top: 50px;
}

footer {
  background: #cfe0a3;
}

.navbar-brand {
  //white-space: nowrap;
  margin-top:0px;
  color: #373a3c;
  font-size: 25px;
}


.btn {
  //border-radius: 0.25rem;
  border-radius: 0;
}

.btn-danger{
  background-color:#dd5522;
}

.picture_add_btn {
  font-size: 30px;
  float: right;
  margin-right: 20px;
}

.logo-area {
  padding: 0.75px;
  text-align: center;
}
.top-content {
  margin-top: 40px;
  text-align: center;
}
.menu {
  position:fixed;
  width:100%;
  top: 50px;
  z-index: 999;
}
.menu-bar {
  font-size: 24px;
  color: #444444;
  text-decoration: none;
}

.input-record {
  
  padding-top: 100px;
  float: right;
  width: 30%;
  font-size: 24px;

  h1 {
    font-size: 28px;
  }

  .form-group {
    margin: 30px 0px;
  }
}

.simple-calendar {
  margin-top: 100px;
  width: 60%;
  .calendar-heading{
    display:flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    .calendar-btn{
      margin: 6px;
      text-align: center;
    }
  }

  table {
    background-color: #ffffff;
  }
  button {
    margin-top: 10px;
  }
  span {
    margin-left: auto;
    margin-right: auto;
  }

  .wday-0 {
    background-color: #FFA594;
  }

.wday-6 {
  background-color:  #AABBEE;
}

.today {
  background-color: #FFCC77;
}

.prev-month {
  background-color: #808080;
  color: white;
}

.next-month {
  display: none;
}}


.icon {
  display: flex;
  float: left;
  margin: 0px 40px;
}

.form-group {
  margin-bottom: 20px;
}

.picture-image {
  text-align: center;
}
.card-title  {
  text-align: center;
a {
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  color: #373a3c;
}}

.list-group-item {
  text-align: center;
}

.search-bar {
  .search-title {
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  margin-top: 15px;
}

.current-user {
  align-items: left;
}

.post-button {
  font-size: 30px;
}
.post-label {
  font-size: 25px;
}

.post-icon {
  float: left;
}

.user-name {
  font-size: 30px;
  margin: 10px;
}

.content {
  font-size: 18px;
  margin-bottom:auto; 
  height: 100px;
}
.detail-content {
  font-size: 25px;
  margin-top: 45px;
  height: 300px;
}
.detail-date{
  font-size: 20px;
}

.post-detail-link {
  text-decoration: none;
  color:#373a3c;
}

.cred-button {
  text-decoration: none;
  font-size: 25px;
  color:#ffffff;
  margin-right: 20px;
  background-color: #198754;
  padding: 5px;
  border-radius: 10px;
}
.container {
  margin-top: auto; 
}

.picture-books-container {
  margin-top: 150px;
}
@media screen and (min-width:767px){
 .logo-area {
   img{
    height: 400px;
   }}

  .alert{
    margin-top: 100px;
  }

  .calendar-title {
    font-size:30px;
  }
  .simple-calendar {
    margin-left: 20px;
  }
  .fixed-post-button{
    margin-top: 100px;
    text-align: right;
    margin-right: 10px;
  .large-post-button {
    font-size: 50px;
    z-index: 1000;
    position: fixed;
    border-radius: 10px;
  }}
  .container.post-show {
    .card{
    margin-top: 50px;
  }}}

@media screen and (max-width: 767px) {
  .alert{
    margin-top: 100px;
  }


  .nav-item {
    font-size: 16px;
    margin-right: auto;
  }
  .logo-area {
    text-align: center;
    img{
      width:90%;
    }}
    
  .top-content {
    margin-top: 40px;
    text-align: center;
  }

  .usernew {
    margin-top: 20px;
  }

  .input-record {
    h1{
      font-size: 20px;
    }
    font-size: 15px;
  }
  .calendar-title{
    font-size: 20px;
  }

  .card-body {
    width:150px;
    img{
      height:145px;
      width:145px;
    }}
    .fixed-post-button{
      margin-top: 100px;
      text-align: right;
      margin-right: 100px;
      .large-post-button {
      font-size: 30px;
      z-index: 1000;
      position: fixed;
      border-radius: 10px;
    }}

    .container.post-show {
      margin-top: 150px;
      .card{
        height:auto;
      }
      .post-img{
        width:350px;
        height:350px;
      }}}